@use 'custom';

@use 'components/typography';
@use 'components/buttons';

@use 'sections/description';
@use 'sections/input-link';
@use 'sections/results';
@use 'sections/topbar';
@use 'sections/gifs';