@use '../custom' as *;

.heading {
    margin-bottom: 1rem;
    
    &--title {
        font-family: Helvetica, sans-serif;
        font-size: 2rem;
        color: $secondary;
        font-weight: 600;

    }
}

.description--text {

    .description--paragraph {
        color: $black;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }

    .description--disclaimer {
        color: $gray;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }
}

.form-label {
    font-family: Helvetica, sans-serif;
    color: $black;
    font-weight: 600;
    font-size: 1rem;
}

.accordion-title {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.footer{
    &--head{
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        color: $secondary;
        font-weight: 400;
    }

    &--body{
        font-family: 'Segoe UI', sans-serif;
        font-size: 1rem;
        color: $gray;
        font-weight: 400;

        a {
            text-decoration: none;
            font-family: 'Segoe UI', sans-serif;
            color: $gray;

            &:hover {
                color: $secondary;
            }
        }
    }
}